/target
/classes
/checkouts
/resources/public/js
/resources/public/css
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
config.edn
/external
/.clj-kondo
/.cpcache
/.calva
/.lsp
.DS_Store
lock
output.*
