/target
/classes
/checkouts
/resources/public/js
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
config.edn
/external
/.clj-kondo
/.calva
/.lsp
.DS_Store
lock
output.*
pair_playground.clj
app-db
